h1 {
  font-family: 'Comfortaa', sans-serif;
}
h2 {
  font-family: 'Comfortaa', sans-serif;
}
h3 {
  font-family: 'Comfortaa', sans-serif;
}
h4 {
  font-family: 'Comfortaa', sans-serif;
}
h5 {
  font-family: 'Comfortaa', sans-serif;
}
h6 {
  font-family: 'Comfortaa', sans-serif;
}
p {
  font-family: 'Reboto', sans-serif;
}
